@font-face {
  font-family: "Acumin Pro";
  src: url("../assets/fonts/acumin-pro/Acumin-RPro.otf") format("opentype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Acumin Pro";
  src: url("../assets/fonts/acumin-pro/Acumin-BdPro.otf") format("opentype");
  font-weight: 700;
  font-display: swap;
}