---
import Nav from "../components/react/nav";
import Layout from "./Layout.astro";

const currentPath = Astro.url.pathname;
---

<Layout>
  <div class="min-h-screen relative overflow-hidden">
    <Nav client:load currentPath={currentPath} />
    <main class="relative z-10 pt-20 md:pt-36">
      <slot />
    </main>
  </div>
</Layout>
