---
import Footer from "../components/Footer.astro";
import Nav from "../components/react/nav";
import Layout from "./Layout.astro";

interface Props {
  noPadding?: boolean;
}

const { noPadding = false } = Astro.props;
const currentPath = Astro.url.pathname;
---

<Layout>
  <div class="min-h-screen relative flex flex-col">
    <Nav client:load currentPath={currentPath} />
    <div class:list={[
      "relative z-10 flex-grow",
      { "": !noPadding }
    ]}>
      <slot />
    </div>
    <Footer />
  </div>
</Layout>
